.contact { 
	color: white;
	padding: 5%;
	background: rgb(58,140,180);
	background: -moz-linear-gradient(90deg, rgba(58,140,180,1) 0%, rgba(26,126,51,1) 100%);
	background: -webkit-linear-gradient(90deg, rgba(58,140,180,1) 0%, rgba(26,126,51,1) 100%);
	background: linear-gradient(90deg, rgba(58,140,180,1) 0%, rgba(26,126,51,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3a8cb4",endColorstr="#1a7e33",GradientType=1);
}