@import url('https://fonts.googleapis.com/css?family=Manrope&display=swap');
@import "./../../node_modules/include-media/dist/include-media";  
@import url('https://fonts.googleapis.com/css?family=Raleway:200');
  

body {
	// background-image: url('./assets/img/mosiac.jpg');
	background-size: contain; 
}

#page-wrapper.page-landing { 
	& > .row:first-child { 
		box-shadow: inset 0px 0px 15px 5px rgba(0,0,0,0.22); 
	} 
}
 
   
@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
  
.svg-wrapper {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
		margin: 0 auto;
	width: 25vw;  
  }
  .shape {
	stroke-dasharray: 140 540;
	stroke-dashoffset: -474;
	stroke-width: 8px;
	fill: transparent;
	stroke: #19f6e8;
	border-bottom: 5px solid black;
	transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
  }
  .text {
	font-family: 'Roboto Condensed';
	font-size: 22px; 
	letter-spacing: 4px;
	color: #fff;
	top: -48px;
	position: relative;
  }
  .svg-wrapper:hover .shape {
	stroke-width: 2px;
	stroke-dashoffset: 0;
	stroke-dasharray: 760;
  }
  

$block: '.hex-grid';

@mixin grid-item($amount) {
    @for $i from 1 through $amount {
        &:nth-of-type(#{$amount}n + #{$i}) {
            grid-column: #{$i + $i - 1} / span 3;
            @if $i % 2 == 0 {
                grid-row: calc(var(--counter) + var(--counter) - 1) / span 2;
            }
        }
    }

    @for $i from 1 through 20 {
        &:nth-of-type(n + #{$i * $amount + 1}) {
            --counter: #{$i + 1};
        }
    }
}

#{$block} {
    display: flex;
	justify-content: center; 

    &__list { 
        --amount: 22;
        position: relative;
        padding: 0;
		margin: 0;
		margin-top: -50px;
		list-style-type: none;
		display: grid;
        grid-template-columns: repeat(var(--amount), 1fr 2fr) 1fr;
		grid-gap: 0.5rem 1rem;
    }

    &__item {
        position: relative;
		grid-column: 1 / span 3;
		grid-row: calc(var(--counter) + var(--counter)) / span 2;
		filter: drop-shadow(0 0 10px rgba(#444, .08));
		min-height: 0;
		padding-bottom: 90%; 
    }

    &__content { 
        position: absolute;
		min-height: 100%;
		width: 100%;
		font-size: 1.125rem;
		color: #111111;
		background-color: white;
		clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 1rem 25%;
		text-decoration: none;
		text-align: center;
		transition: all .12s ease-out;
    }
 
}


#{$block} {
	&__list {
		--amount: 22;
		--counter: 1;
	}

	&__item {
		@include grid-item(22);
	}
} 